*{
  margin: 0;
  padding: 0;
}

.font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
   font-style: normal;
}
.background{
  background: linear-gradient(to bottom, #1c1e1e 0%, #000000 100%);
} 
span{
  color: white;
  display: none;
}
.text-color{
  color: white;
}

.header-section, .main-section{
  max-width: 1150px;
  margin: 0 auto;
}

 /* navbar design */
 .navbar, .menu{
  padding: 5px;
  display: flex;
  justify-content: space-between;

 }
 .navbar{
  margin-top: 50px;
  align-items: center;
}

 .navbar h2{
  font-size: 2.2rem;
  color: rgba(230, 83, 60, 0.75);
  font-style: italic;
}
 .menu{
  border: 1px solid rgba(48, 47, 47, 0.856);
  border-radius: 35px;
  gap: 48px;
  font-size: 1rem;
  align-items: center;
  color: white;
  cursor: pointer;
  padding: 2px 4px;

}
 .home-btn{
  background-color: rgba(230, 83, 60, 1);
  border-radius: 35px;
  padding: 8px 20px;
  
}

 /* banner sction styles */
 .banner-section{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .banner-text{
  min-height: 200px;
  width: 50%;
}
 .banner-text h1{
  font-size: 4.5rem;
  color: white;
  line-height: 120%;
  text-align: start;
}
 .banner-text p {
  color: rgba(255, 255, 255, 0.5);
  font-size: .9rem;
  margin: 28px 0;
  text-align: justify;
  line-height: 24px;
}
 .btn-one{
  background-color:  rgba(230, 83, 60, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  padding: 16px 40px;
  border-radius: 42px;
  border: none;
  cursor: pointer;
}
 .btn-two{
  background-color:transparent;
  border: 1px solid;
   color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  padding: 16px 40px;
  border-radius: 42px;
  cursor: pointer;
}

 .banner-image{
  width: 50%;
  display: flex;
  justify-content: end;
  position: relative;
}
.banner-image img{
  width: 55%;
}

.tooltip{
  width: 145px;
  height: 70px;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  padding-left: 20px;
  padding-top: 10px;
  top: 20%;
  right: -8%;
}
.tooltip h2{
  font-size: 2.4rem;
}
.tooltip p{
  font-size: .7rem;
  color: rgba(255, 255, 255, 0.65);
}

.tooltip2{
  width: 190px;
  height: 85px;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  left: 23%;
  top: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.ball{
  width: 40px;
  height: 40px;
  background-color:  rgba(230, 83, 60, 1);
  border-radius: 50%;
}
.tooltip2 h2{
  font-size: 2.1rem;
}
.tooltip2 p{
   font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.65);
}

  /* habit section styles */

  .habit-section, .excercise-section{
    margin-top: 100px;
  }
  .section-heading h2{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 14px;
  }
  .section-heading p{
    font-size: .8rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
  }

  .habit-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
  }

  .habit-image{
    border-radius: 50%;
    margin-bottom: 30px;
  }

  .workout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .workout h3{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 8px;
  }
  .workout p{
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
  }

  /* run section styles */

  .run-section{
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 18px;
  }
  .run-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .run-text{
    padding-left: 54px;
    padding-top: 41px;
    padding-bottom: 40px;
  }
  .run-text h1{
    font-size: 3rem;
    margin-bottom: 14px;
  }
  .run-text p{
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    max-width: 440px;
    margin-bottom: 34px;
  }
  .run-btn{
    background-color:  rgba(230, 83, 60, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 60px;
    border-radius: 42px;
    border: none;
    cursor: pointer;
  }

  .run-image{
    width: 350px;
    height: 310px;
    border-radius: 18px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 28px;
    overflow: hidden;
  }
  .run-image img{
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center 90%;
    border-radius: 18px;
  }

   /* trainnig excercise section styles */

  .text-section h2{
    font-size: 3rem;
    /* margin-bottom: 14px; */
    text-align: left;
  }
  .text-section p{
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 40px;
    line-height: 24px;
    text-align: left;
    margin-top: 14px;
  }


   .excercise-image{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    grid-template-rows: repeat(2, 200px);
    position: relative;
   }
   

   
   .excercise-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* mix-blend-mode: multiply; */
   }
  .box-2{
    grid-column: 2 / span 2;
  }
  .box-4{
    grid-column: 1 / span 2;
  }


   /* team section styles */
  
   .team-section{
    margin-top: 70px;
   }
   .team-heading h2{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 14px;
   }
   .team-heading p{
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    text-align: center;
    margin-bottom: 58px;
   }

   .team-image{
    background-color: rgba(255, 255, 255, 0.272);
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 20px;
    gap: 20px;

   }

   .team-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
   }

   /* footer section styles */
  .footer-section{
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 88px;
  }
  .footer-container{
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer-left h2{
    font-size: 4rem;
    font-style: italic;
    color: rgba(230, 83, 60, 1);
    margin-top: 15px;
  }
  .footer-left p{
    max-width: 440px;
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
  }

  .footer-middle, .footer-end{
    margin-top: 66px;
    /* margin-bottom: 38px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .footer-middle, .footer-end, h3{
    font-weight: bold;
    font-size: 1.6rem;
  }
  

  .footer-middle, .footer-end, li{
    list-style: none;
    gap: 20px;
    margin-bottom: 5px;
  }
  .footer-middle, .footer-end, li a{
    text-decoration: none;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    gap: 20px;
  }

  .footer-line hr{
    max-width: 1150px; 
    margin: 0 auto;
    margin-top: 78px;
    border-color: #ffffff4b ;
  }
   .footer-line p{
    font-size: .8rem;
    color:rgba(255, 255, 255, 0.555) ;
    text-align: center;
    margin-top: 35px;
    padding-bottom: 35px;
  }

   /* responsive code */

 @media screen and (max-width:576px){
  .navbar{
    margin: 50px 20px;
  }
  .menu{
    display: none;
  }
  span{
    display: block;
  }

  .banner-section{
    flex-direction: column;
    margin-left: 15px;
  }
  .banner-text, .banner-image{
    width: 100%;
  }
  .banner-text h1{
    font-size: 3.4rem;
  }
  .banner-text p{
    font-size: .9rem;
    color:  rgba(255, 255, 255, 0.5);
    text-align: left;
    max-width: 273px;
  }
  br{
    display: none;
  }
  .banner-image img{
    width: 100%;
  }

  .tooltip{
    top: 8%;
    right: 2%;
  }
  .tooltip2{
    top:65%;
    left:-2%;
  }

  .habit-section{
    margin-top: 5px;
  }

  .habit-container, .run-container{
    flex-direction: column;
  }
  .section-heading{
    max-width: 315px;
    margin-left: 50px;
    margin-right: px;
  }
  .section-heading h2{
    font-size: 2rem;
  }
  .section-heading p{
    font-size: 1rem;
  }
  .workout p{
    max-width: 213px;
  }
  .run-text h1{
    font-size: 2.8rem;
  }
  .run-text p{
    max-width: 290px;
  }
  .run-btn{
    padding: 16px 120px;
  }
  .run-image{
    margin-top: -20px;
    margin-left: 20px;
    height: 250px;
  }

  .excercise-image{
    grid-template-columns: repeat(2, 1fr);
  }
  .excercise-section, .team-section{
    padding-left: 20px;
    padding-right: 20px;
  }
  .run-section{
    margin-left: 20px;
    margin-right: 20px;
  }

  .box-2{
    grid-column: auto;
  }
  .box-4{
    grid-column: auto;
  }

  .box-2, .box-6{
    display: none;
  }

  

  .team-image{
    grid-template-columns:repeat(1, 1fr);
  }
  .trainer-1, .trainer-4{
    display: none;
  }

  .footer-container{
    flex-direction: column;
    padding-left: 20px;
     align-items: start;
    justify-content: start;
  }

}